{% extends 'dashboard/base.html' %} {%load static%}
<!--  -->
{% block content %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'dashboard:meals'%}">
        <i class="bi bi-person"></i>
        <span>Orders</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-question-circle"></i>
        <span>Categories</span>
      </a>
    </li>
    <!-- End Categories Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'products:products' %}">
        <i class="bi bi-question-circle"></i>
        <span>Products</span>
      </a>
    </li>
    <!-- End Categories Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->

<main id="main" class="main">
  <div class="col-12">
    <div class="card recent-sales overflow-auto">
      <div class="card-body">
        <h5 class="card-title">Order Items <span>| Today</span></h5>

        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Customer</th>
              <th scope="col">Order</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Payment Method</th>
            </tr>
          </thead>
          <tbody>
            {% for meal in meals %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>

              <td>{{meal.customer_name}}</td>
              <td>{{meal.meal_type}}</td>
              <td>{{meal.created_at|date:'Y-m-d'}}</td>
              <td>{{meal.meal_price}}</td>
              <!-- <td>{{meal.meal_status}}</td> -->
              <td>
                <select name="" id="">
                  <option value="Status">Status</option>
                  <option value="Accept">Accept</option>
                  <option value="Reject">Reject</option>
                  <option value="Cancel">Cancel</option>
                </select>
              </td>
              <td>{{meal.payment_mode}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Recent Sales -->
</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Sumeal</span></strong
    >. All Rights Reserved
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.min.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
{% endblock %}
